<meta charset="utf-8"> 
<html>
<head>
<title>Publications</title>
<link href="{{ url_for('static', filename='bib.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='bib.js') }}"></script>
</head>
<body>


<div class='block' >
{% for group in refs.values()|groupby(attribute='year')|reverse %}
    <h2>{{ group.grouper }}</h2>
    {% for item in group.list %}
        <div class='paperblock' >
        <table>
        <td width=80px>
        {% if item.teaser %}
          <img width=70px class=teaserimg src="/teaser/{{ item.id }}">
        {% endif %}
        </td>
     
        <td style='vertical-align:middle'>
        {% if item.type=='inproceedings' %}
          <span class=bibauthor>{{ item.author }}.</span>
          {% if item.pdf %}
          <a href="/pdf/{{ item.id }}">
          {% endif %}
          <span class=bibtitle>{{ item.title }}.</span>
          {% if item.pdf %}
          </a>
          {% endif %}
          <br />
          <span class=bibvenue>{{ item.booktitle }}.</span><span class=bibyear>{{ item.year }}.</span>
        {% elif item.type=='article' %}
          <span class=bibauthor>{{ item.author }}.</span>
          {% if item.pdf %}
          <a href="/pdf/{{ item.id }}">
          {% endif %}
          <span class=bibtitle>{{ item.title }}.</span>
          {% if item.pdf %}
          </a>
          {% endif %}
          <span class=bibvenue>{{ item.journal }}.</span><span class=bibyear>{{ item.year }}.</span>
        {% else %}
          <span class=bibauthor>{{ item.author }}.</span><span class=bibtitle>{{ item.title }}</span> (<span class=bibyear>{{ item.year }}</span>)
        {% endif %}
        <a href="/bib/{{ item.id }}" onlick="window.open(this.href,'bibtex','toolbar=no,menubar=no,status=no,height=400,width=600,resizable=yes'); return false;"><img src="{{ url_for('static', filename='get-bib-source.png' ) }}" alt="BibTeX" /></a>
        {% if item.pdf %}
        <a href="/pdf/{{ item.id }}"><img src="{{ url_for('static', filename='pdf-document.png') }}" alt="pdf" title="pdf"/></a>
        {% endif %}

        {% if item.abstract %}
        <span class="abstractlink" onClick="abstractclick('{{ item.id }}');">more ...</span>
        <div class="bibabstract" id="{{ item.id }}">
          <br />
          <div class='vspace'></div>
          Abstract: {{ item.abstract }}
          {% endif %}
        </div>
        </td>
        </table>

        </div>
        <div class='vspace'></div>
    {% endfor %}
{% endfor %}
</div>

</body>

</html>
