<meta charset="utf-8"> 
<html>
<head>
<title>Publications</title>
</head>
<body>

{% for item in refs.values() %}
<p>
    {% if item.type=='inproceedings' %}
<span class=bibauthor>{{ item.author }}</span>: <span class=bibtitle>{{ item.title }}</span> (<span class=bibvenue>{{ item.booktitle }}</span>, <span class=bibyear>{{ item.year }}</span>)
    {% elif item.type=='article' %}
<span class=bibauthor>{{ item.author }}</span>: <span class=bibtitle>{{ item.title }}</span> (<span class=bibvenue>{{ item.journal }}</span>, <span class=bibyear>{{ item.year }}</span>)
    {% else %}
<span class=bibauthor>{{ item.author }}</span>: <span class=bibtitle>{{ item.title }}</span> (<span class=bibyear>{{ item.year }}</span>)
    {% endif %}
{% endfor %}

</body>

</html>
