    .bibtitle { font-weight: bold; color: blue; }
    .bibauthor { font-style: italic;  }
    .bibvenue { font-style: normal; }
    .bibyear { font-style: italic; }
    .bibabstract { display: none; }
    .abstractlink { font-style: italic; color: blue }
    .pdflink { font-style: italic; color: blue }

